Babel==2.9.1
certifi==2017.11.5
chardet==3.0.4
confusable-homoglyphs==2.0.2
dj-database-url==0.4.2
Django==1.11.4
django-contrib-comments==1.8.0
django-filter==1.0.0
django-phonenumber-field==2.0.0
django-registration==2.3
django-taggit==0.22.1
django-widget-tweaks==1.4.1
idna==2.6
Markdown==2.6.9
phonenumberslite==8.8.8
pkginfo==1.4.1
python-decouple==3.1
pytz==2017.3
requests==2.18.4
requests-toolbelt==0.8.0
tqdm==4.19.5
twine==1.9.1
urllib3==1.22
virtualenv==15.1.0
